@import "bulma.css";


/*********************** CUSTOM CSS ***********************/

/* #slider {
  background-image: url(http://bulma.io/images/placeholders/640x360.png);
} */

#slider {
  background-image: url("../images/engagement-photo-1-resized.jpg");
  min-height: 500px;
  height: 100%;
  background-size: cover;
  background-position: center center; 
}

@media screen and (max-width: 768px){
  #slider {
    width:100%;
    min-height: 250px;
  }
}

#about, #details {
  background-color: #F0F0F0;
}

#team .column {
  margin-bottom: 30px;
}

#team .member-name {
  font-size: 16px;
  margin-bottom: 2px;
  text-align: center;
}

#team .member-role {
  font-size: 12px;
  text-align: center;
}

#team .pre {
  margin-top: 20px;
  font-size: 16px;
  text-align: center;
}

#team .image img {
  border-radius: 50%;
}

#team figure {
  display: block;
  margin: auto;
  margin-bottom: 10px;

}